* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
}

header {
    margin: 2rem;
}

.grid {
    display: grid;
    max-width: 500px;
    min-height: 500px;
    margin: 2rem auto;
    border: 2px solid black;
}

.grid-element {
    border: 1px solid black;
    background-color: white;
}

.container {
    padding: 1rem;
}

.button {
    margin: 1rem;
}